@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-base text-blue-11;
  }

  input {
    -webkit-apperance: none;
  }

  .default-modal-width {
    max-width: 570px;
  }

  .content-max-width {
    max-width: 960px;
  }
}
